# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: Go
permissions:
  contents: read
  pull-requests: write

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
      with:
        fetch-depth: 0
        fetch-tags: true
    - uses: actions/setup-go@v6
      with:
        go-version: 'stable'
    - run: go generate ./...
    - run: go build
    - run: ./runparts -v
    - run: go test -v -race -benchmem ./...
    - run: go mod verify

  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
      with:
        fetch-depth: 0
        fetch-tags: true
    - uses: actions/setup-go@v6
      with:
        go-version: 'stable'
    - run: make check
